# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
# version: "3.8"

services:
  web:
    # build: .
    image: "deadpool171/todo-app"
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
